@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Shrikhand';
  src: url("Shrikhand.otf");
}

@-webkit-keyframes apparaition {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparaition {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  font-size: 14px;
  font-family: 'Roboto';
  margin: 0;
  background-color: #f6f6f6;
}

body a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: black;
}

body header .barre_logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr;
      grid-template-columns: 1fr 10fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16vw;
}

body header .barre_logo i {
  padding-left: 5vw;
  font-size: 20px;
}

body header .barre_logo .logo {
  width: 50vw;
  height: 7vw;
}

body header .photo_resto {
  width: 100vw;
}

body section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-bottom: 0px;
  padding: 10px 13px 30px 13px;
  border-radius: 50px 50px 0 0;
  background-color: #f6f6f6;
  position: relative;
  -webkit-transform: translate(0, -5%);
          transform: translate(0, -5%);
}

body section h1 {
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
  padding-left: 7px;
  margin-bottom: 0;
}

body section .articles article {
  -webkit-animation: apparaition 1s linear 1;
          animation: apparaition 1s linear 1;
}

body section .articles article:nth-child(1) {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

body section .articles article:nth-child(2) {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

body section .articles article:nth-child(3) {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

body section .articles h2 {
  color: #919191;
  padding-left: 7px;
  margin-top: 40px;
  font-weight: 1;
}

body section .articles .sous_ligne {
  width: 50px;
  border-top: 3px #99E2D0 solid;
  position: relative;
  -webkit-transform: translate(10%, -400%);
          transform: translate(10%, -400%);
}

body section .articles .menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

body section .articles .menu .coche {
  background-color: #99E2D0;
  width: 60px;
  height: 70px;
  float: right;
  position: relative;
  -webkit-transform: translate(117%, 0);
          transform: translate(117%, 0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

body section .articles .menu .coche .check {
  color: white;
  font-size: 20px;
  margin-top: 40%;
  margin-left: 30%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

body section .articles .menu .plat {
  height: 70px;
  background-color: white;
  border-radius: 15px;
  padding: 0px 9px 0px 9px;
  overflow: hidden;
}

body section .articles .menu .plat h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

body section .articles .menu .plat p {
  margin-top: 10px;
  margin-bottom: 0px;
}

body section .articles .menu .plat .prix {
  float: right;
  position: relative;
  -webkit-transform: translate(200%, -100%);
          transform: translate(200%, -100%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

body section .articles .menu .plat a:hover .coche {
  -webkit-transform: translate(17%, 0%);
          transform: translate(17%, 0%);
}

body section .articles .menu .plat a:hover .prix {
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}

body section .articles .menu .plat a:hover .check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

body section button {
  font-weight: bolder;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 50px;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  border: none;
  width: 50vw;
  height: 8vh;
  -webkit-box-shadow: 0px 2px 2px silver;
          box-shadow: 0px 2px 2px silver;
}

body section button:hover {
  cursor: pointer;
}

body footer {
  color: white;
  background-color: #323232;
  padding: 7px 0 0px 25px;
}

body footer ul {
  padding: 0;
}

body footer ul li {
  list-style: none;
  padding-bottom: 15px;
}

body footer ul li a {
  color: white;
}

body footer ul li a i {
  margin-right: 10px;
}

body footer ul li a .fa-hands-helping {
  font-size: 10px;
}

@media screen and (min-width: 1000px) {
  body header .photo_resto {
    height: 50vh;
  }
  body section {
    position: relative;
    -webkit-transform: translate(0, -8%);
            transform: translate(0, -8%);
  }
  body section .articles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }
  body section button {
    width: 30vw;
  }
}

@media screen and (max-width: 380px) {
  a:hover .long_p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  a:hover p {
    width: 60vw;
  }
}
/*# sourceMappingURL=menu_la_palette_du_gout.css.map */