$Primaire: #9356DC;
$Secondaire:  #FF79DA;
$Tertiaire: #99E2D0;
$back_ground: #ebebeb;
@mixin button_fonctionnement { 
    width: 100%;
    height: 75px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px #f7f7f7;
    border: none;
}
@mixin icone_fonctionnement {
    color: gray;
    padding-right: 25px;
}
@mixin article {
    display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	border-radius: 15px;
    box-shadow: 3px 3px 7px silver;
}
@mixin photo {
        border-radius: 15px 15px 0 0;	
        object-fit: cover;
        width: 100%;
        height: 175px;
}
@mixin number {
    border-radius: 100px;
    padding: 4px 9px 4px 9px;
    text-align: center;
    color: white;
    background-color: $Primaire;
    position: absolute;
    transform: translate(-40%, 100%);
    
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Shrikhand';
    src: url('Shrikhand-Regular.otf');
}
@keyframes flash {
    0% {opacity: 0;
        color: black;
        text-shadow: 0 0 7px black;
    }
    90% {
        color: $Secondaire;
        text-shadow: none;
    }
    100% {
        opacity: 100;
        color: black;
        text-shadow: 0 0 7px black;
    }
}
@keyframes delay_background {
    0% {
        opacity: 100;
    }
    60%{
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}


body {
    .loader{
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 9999;
        background:  linear-gradient(to bottom right, $Secondaire, $Primaire) ;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        animation: delay_background 4.05s ;
        .lettre {
            opacity: 0;
            color: black;
            font-size: 80px;
            font-family: 'Shrikhand';
            font-weight: 900;
            font-style: italic;
            letter-spacing: 15px;
            transform: opacity(100);
            transition: transform 3s ;
            animation: flash 1.35s linear 1;
            &:nth-child(1){
                animation-delay: 0.15s;
            }
            &:nth-child(2){
                animation-delay: 0.30s;
            }
            &:nth-child(3){
                animation-delay: 0.45s;
            }
            &:nth-child(4){
                animation-delay: 0.60s;
            }
            &:nth-child(5){
                animation-delay: 0.75s;
            }
            &:nth-child(6){
                animation-delay: 0.90s;
            }
            &:nth-child(7){
                animation-delay: 1.05s;
            }
            &:nth-child(8){
                animation-delay: 1.20s;
            }
            &:nth-child(9){
                animation-delay: 1.35s;
            }
            
        }



    }
    display: grid;
    grid-template-columns: 1fr;
    font-size: 14px;
    font-family: 'Roboto';
    margin: 0;
    a {
        text-decoration-line: none;
        color: black;
    }
    header {
        display: grid;
        grid-template-columns: 1fr;
        width: 100vw;
        .logo {
            width: 50vw;
            padding: 20px 25vw 10px 25vw;
        }
        .search {
            display: flex;
            flex-direction:row;
            width: 100vw;
            height: 50px;
            background-color:$back_ground ;
            justify-content: center;
            align-items: center;
            box-shadow: inset 0px 2px 2px silver;
            input {
                border: none;
                background-color: $back_ground;
                padding-left: 15px;
            }
            ::placeholder {
                font-weight: bolder;
                color: black;
            }
        }
        .reservation {
            text-align: center;
            background-color: #f7f7f7;
            width: 100vw;
            padding: 40px 0px 60px 0px;
            h1 {
                padding: 0 10vw 0 10vw;
            }
            button { 
                color: white;
                background: linear-gradient(to bottom right, $Secondaire, $Primaire);
                border-radius: 50px ;
                border: none;
                width: 220px;
                height: 50px;
                box-shadow: 0px 2px 2px silver;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .Fonctionnement {
        padding: 45px 20px  65px 20px;
        .block_button {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 20px; 
            margin-left: 10px;
            .number {
                @include number;
            }
            button {
                @include button_fonctionnement ;
                &:hover {
                    cursor: pointer;
                    background-color: #f5edff;
                    box-shadow: 5px 5px 5px #e9e9e9; 
                }
            }
            .icone_fonctionnement {
                @include icone_fonctionnement;
            }
        }
    }        
    .restaurants {
        padding: 43px 20px 65px 20px;
        background-color: #f7f7f7;
        .articles {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
            article {
                @include article;
                img {
                    @include photo;
                }
                h3 {
                    margin: 15px 0 0 15px;
                }
                p {
                    margin: 10px 0 20px 15px;
                }
                
                // .coeur_hover::before {
                //     content: '';                   
                //     display: block;
                //     position: absolute;                    
                //     top: 50px;
                //     left: 0;
                //     width: 100%;
                //     height: 100%;
                //     color: $Secondaire;
                //     transition: all .5s;
                // }
                    .wala {
                        font-size: 50px;
                        position: relative;
                        transform: translate(90%, -100%); 
                        .coeur_hover {
                            color: $Secondaire;
                            transform:  scale(0);
                            transition: transform 4s;     
                        }  
                        .coeur {
                            &:hover + .coeur_hover {
                                overflow: hidden;  
                                transform: scale(1.15) ;
                                } 
                            
                        }
                    }          
                }


                    // &:hover + .coeur_hover::before {
                    //     top:0;
                    // }
                    //     color: $Secondaire;
                    //     display: block;
                    //     font-size: 25px;
                    //     float: right;
                    //     position: relative;
                    //     transform: translate(-150%, -150%);    
                    // }
        
                
                // .coeur_hover::before {
                //     content: '';                   
                //     position: absolute;                    
                //     top: 50px;
                //     left: 0;
                //     width: 100%;
                //     height: 100%;
                //     color: $Secondaire;
                //     transition: all .5s;
                // }
             
        }
    }  
    footer {
        color: white;
        background-color: #323232;
        padding: 25px 0 20px 25px;
        ul {
            padding: 0;
            li {
                list-style: none;
                padding-bottom: 15px;
                a {
                    color: white;
                }
            }
        }
    } 
}
@media screen and (min-width: 1000px) {
    body {
        .Fonctionnement {
            .block_button {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 20px; 
            }
        }
        .restaurants {
            .articles {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-gap: 20px;
            }
        }
    }
}


