@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format("woff2"), url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format("woff"), url(https://fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf) format("truetype"), url(https://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: local("Shrikhand"), local("Shrikhand-Regular"), url(https://fonts.gstatic.com/s/shrikhand/v6/a8IbNovtLWfR7T7bMJwrDYKR8Ttcte1q.woff2) format("woff2"), url(https://fonts.gstatic.com/s/shrikhand/v6/a8IbNovtLWfR7T7bMJwrDYKR8Ttcte1q.woff) format("woff"), url(https://fonts.gstatic.com/s/shrikhand/v6/a8IbNovtLWfR7T7bMJwrDYKR8Ttcte1q.ttf) format("truetype");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

footer {
  color: white;
  background-color: #323232;
  padding: 8px 0 0px 25px;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
  padding-bottom: 12px;
}

footer ul li a {
  color: white;
}

footer ul li a i {
  margin-right: 10px;
}

footer ul li a .fa-hands-helping {
  font-size: 10px;
}

@media screen and (min-width: 1000px) {
  footer h2 {
    text-align: center;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    max-width: 80vw;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  footer ul li {
    margin: 1vw 3vw 3vw 1vw;
  }
}

button {
  font-weight: bolder;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  border: none;
  height: 7vh;
  box-shadow: 0px 2px 2px silver;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration-line: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

@keyframes apparaition {
  0% {
    opacity: 0;
    transform: translate(0, 20%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

body {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 14px;
  font-family: 'Roboto';
  margin: 0;
  background-color: #f6f6f6;
}

body header .barre_logo {
  display: grid;
  grid-template-columns: 1fr 20fr;
  justify-items: center;
  align-items: center;
  height: 65px;
}

body header .barre_logo i {
  padding-left: 5vw;
  font-size: 20px;
}

body header .barre_logo .logo {
  width: 50vw;
  height: 30px;
}

body header .photo_resto {
  object-fit: cover;
  width: 100vw;
  height: 260px;
}

body main section {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 0px;
  padding: 10px 13px 30px 13px;
  border-radius: 50px 50px 0 0;
  background-color: #f6f6f6;
  position: relative;
  transform: translate(0, -5%);
}

body main section h1 {
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
  padding-left: 7px;
  margin-bottom: 0;
}

body main section .articles article {
  animation: apparaition 3s linear 1;
}

body main section .articles article:nth-child(1) {
  animation-duration: 1.0s;
}

body main section .articles article:nth-child(2) {
  animation-duration: 2s;
}

body main section .articles article:nth-child(3) {
  animation-duration: 3s;
}

body main section .articles h2 {
  color: #919191;
  padding-left: 7px;
  margin-top: 40px;
  font-weight: 100;
}

body main section .articles .sous_ligne {
  width: 50px;
  border-top: 3px #99E2D0 solid;
  position: relative;
  transform: translate(10%, -400%);
}

body main section .articles .menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

body main section .articles .menu .coche {
  background-color: #99E2D0;
  width: 60px;
  height: 70px;
  float: right;
  position: relative;
  transform: translate(117%, 0);
  transition: transform 1s;
}

body main section .articles .menu .coche .check {
  color: white;
  font-size: 20px;
  margin-top: 40%;
  margin-left: 30%;
  transform: rotate(0deg);
  transition: transform 1s;
}

body main section .articles .menu .plat {
  height: 70px;
  background-color: white;
  border-radius: 15px;
  padding: 0px 9px 0px 9px;
  overflow: hidden;
}

body main section .articles .menu .plat h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

body main section .articles .menu .plat p {
  margin-top: 10px;
  margin-bottom: 0px;
}

body main section .articles .menu .plat .prix {
  float: right;
  position: relative;
  transform: translate(200%, -100%);
  transition: transform 1s;
}

body main section .articles .menu .plat:hover .coche {
  transform: translate(17%, 0%);
}

body main section .articles .menu .plat:hover .prix {
  transform: translate(0%, -100%);
}

body main section .articles .menu .plat:hover .check {
  transform: rotate(360deg);
}

body main section .articles .menu .plat:hover p {
  width: 60vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

body main section button {
  justify-self: center;
  margin-top: 50px;
  width: 50vw;
}

@media screen and (min-width: 770px) {
  body header .barre_logo {
    height: 130px;
  }
  body header .barre_logo .logo {
    height: 60px;
  }
  body header .photo_resto {
    height: 350px;
  }
  body main section {
    position: relative;
    transform: translate(0, -8%);
  }
  body main section h1 {
    margin-left: 13vw;
  }
  body main section article {
    max-width: 70vw;
    margin: auto;
  }
  body main section button {
    width: 30vw;
  }
}

@media screen and (max-width: 370px) {
  body main article h3, body main article p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

/*# sourceMappingURL=Menu_franc%CC%A7aise.scss.map */
