@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Shrikhand';
  src: url("Shrikhand-Regular.otf");
}

@-webkit-keyframes lettre {
  0% {
    opacity: 0;
    color: black;
    text-shadow: 0 0 7px black;
  }
  90% {
    color: #FF79DA;
    text-shadow: none;
  }
  100% {
    opacity: 100;
    color: #9356DC;
    text-shadow: 0 0 7px black;
  }
}

@keyframes lettre {
  0% {
    opacity: 0;
    color: black;
    text-shadow: 0 0 7px black;
  }
  90% {
    color: #FF79DA;
    text-shadow: none;
  }
  100% {
    opacity: 100;
    color: #9356DC;
    text-shadow: 0 0 7px black;
  }
}

@-webkit-keyframes delay_background {
  0% {
    opacity: 100;
    width: 100%;
  }
  80% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

@keyframes delay_background {
  0% {
    opacity: 100;
    width: 100%;
  }
  80% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

@-webkit-keyframes bordure {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes bordure {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  font-size: 14px;
  font-family: 'Roboto';
  margin: 0;
}

body .loader {
  position: fixed;
  height: 100%;
  width: 0%;
  left: 0;
  top: 0;
  z-index: 9999;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-animation: delay_background 3s;
          animation: delay_background 3s;
}

body .loader .bordure {
  content: " ";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #9356DC transparent #FF79DA transparent;
  -webkit-animation: bordure 1.2s linear 1;
          animation: bordure 1.2s linear 1;
}

body .loader .bordure .lettre {
  opacity: 0;
  color: black;
  font-size: 50px;
  font-family: 'Shrikhand';
  font-weight: 900;
  font-style: italic;
  letter-spacing: 15px;
  -webkit-animation: lettre 1s linear  0.5;
          animation: lettre 1s linear  0.5;
}

body .loader .bordure .lettre:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

body .loader .bordure .lettre:nth-child(2) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

body .loader .bordure .lettre:nth-child(3) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

body .loader .bordure .lettre:nth-child(4) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

body .loader .bordure .lettre:nth-child(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

body .loader .bordure .lettre:nth-child(6) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

body .loader .bordure .lettre:nth-child(7) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

body .loader .bordure .lettre:nth-child(8) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

body .loader .bordure .lettre:nth-child(9) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

body a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: black;
}

body header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 100vw;
}

body header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 16vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .logo img {
  width: 50vw;
  height: 7vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 50px;
  background-color: #ebebeb;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px 2px 2px silver;
          box-shadow: inset 0px 2px 2px silver;
}

body header .search input {
  border: none;
  background-color: #ebebeb;
  padding-left: 15px;
}

body header .search ::-webkit-input-placeholder {
  font-weight: bolder;
  color: black;
}

body header .search :-ms-input-placeholder {
  font-weight: bolder;
  color: black;
}

body header .search ::-ms-input-placeholder {
  font-weight: bolder;
  color: black;
}

body header .search ::placeholder {
  font-weight: bolder;
  color: black;
}

body header .reservation {
  text-align: center;
  background-color: #f7f7f7;
  width: 100vw;
  padding: 18px 0px 60px 0px;
}

body header .reservation h1 {
  padding: 0 10vw 0 10vw;
}

body header .reservation button {
  font-weight: bolder;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  border: none;
  width: 220px;
  height: 50px;
  -webkit-box-shadow: 0px 2px 2px silver;
          box-shadow: 0px 2px 2px silver;
}

body header .reservation button:hover {
  cursor: pointer;
}

body .Fonctionnement {
  padding: 33px 20px  60px 20px;
}

body .Fonctionnement h2 {
  margin-bottom: 30px;
}

body .Fonctionnement .block_button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
  margin-left: 10px;
}

body .Fonctionnement .block_button .number {
  border-radius: 100px;
  padding: 4px 9px 4px 9px;
  text-align: center;
  color: white;
  background-color: #9356DC;
  position: absolute;
  -webkit-transform: translate(-40%, 100%);
          transform: translate(-40%, 100%);
}

body .Fonctionnement .block_button button {
  background-color: #f7f7f7;
  width: 100%;
  height: 75px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 4px #e9e9e9;
          box-shadow: 3px 3px 4px #e9e9e9;
  border: none;
}

body .Fonctionnement .block_button button:hover {
  cursor: pointer;
  background-color: #f5edff;
  -webkit-box-shadow: 5px 5px 5px #e9e9e9;
          box-shadow: 5px 5px 5px #e9e9e9;
}

body .Fonctionnement .block_button button:hover .icone_fonctionnement {
  color: #9356DC;
}

body .Fonctionnement .block_button .icone_fonctionnement {
  color: gray;
  padding-right: 25px;
}

body .restaurants {
  padding: 43px 20px 65px 20px;
  background-color: #f7f7f7;
}

body .restaurants .articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

body .restaurants .articles article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 7px silver;
          box-shadow: 3px 3px 7px silver;
}

body .restaurants .articles article img {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 175px;
}

body .restaurants .articles article .nouveau {
  color: #219a79;
  background-color: #99E2D0;
  width: 80px;
  padding: 5px 0 5px 0;
  font-weight: bolder;
  text-align: center;
  float: right;
  position: relative;
  -webkit-transform: translate(-25%, -550%);
          transform: translate(-25%, -550%);
}

body .restaurants .articles article h3 {
  margin: 15px 0 0 15px;
}

body .restaurants .articles article p {
  margin: 10px 0 0px 15px;
}

body .restaurants .articles article .like {
  width: 23px;
  height: 23px;
  border-radius: 9px;
  overflow: hidden;
  float: right;
  position: relative;
  -webkit-transform: translate(-150%, -150%);
          transform: translate(-150%, -150%);
}

body .restaurants .articles article .like .coeur {
  font-size: 23px;
}

body .restaurants .articles article .like .coeur_hover {
  font-size: 23px;
  color: #9356DC;
  border-radius: 100px;
  -webkit-transform: translate(0%, -250%);
          transform: translate(0%, -250%);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

body .restaurants .articles article .like .coeur:hover + .coeur_hover {
  -webkit-transform: translate(0%, -103%);
          transform: translate(0%, -103%);
}

body footer {
  color: white;
  background-color: #323232;
  padding: 8px 0 0px 25px;
}

body footer ul {
  padding: 0;
}

body footer ul li {
  list-style: none;
  padding-bottom: 12px;
}

body footer ul li a {
  color: white;
}

body footer ul li a i {
  margin-right: 10px;
}

body footer ul li a .fa-hands-helping {
  font-size: 10px;
}

@media screen and (min-width: 1000px) {
  body .Fonctionnement .block_button {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  body .restaurants .articles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }
}
/*# sourceMappingURL=style.css.map */